@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', serif;
    font-size: 1rem;
}

.square {
    position: relative;
    width: 80%;
    max-width: 60vh;
    border: 1px solid black;
    margin: 1rem;
    background-color: #696969;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.125rem;
    flex-wrap: wrap;
}

.tile {
    width: 12.5%;
    height: 12.5%;
    position: relative;
    padding: 0.125rem;
}

.innertile {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rotate {
    position: absolute;
    top: 1rem; 
    right: 1rem;
    width: 2rem;
}

.targetcircle {
    position: absolute;
    width: 100%;
    z-index: 1;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: none !important;
}

.piece {
    width: 70%;
    position: relative;
    z-index: 2;
}
