.square {
    position: relative;
    width: 80%;
    max-width: 60vh;
    border: 1px solid black;
    margin: 1rem;
    background-color: #696969;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.125rem;
    flex-wrap: wrap;
}

.tile {
    width: 12.5%;
    height: 12.5%;
    position: relative;
    padding: 0.125rem;
}

.innertile {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
